<html>
<head>
	<title>ThinFrame</title>
    <link rel="stylesheet" type="text/css" href="/DemoApplication/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/DemoApplication/css/thinframe.css" />
    <link rel="shortcut icon" href="/DemoApplication/images/favicon.ico" />
</head>
<body>
	<header>
        <h1>500 - Internal Server Error</h1>
	</header>
    <section id="mainContent">
            <h2>That's all ... </h2>
    </section>
</body>
</html>