<html>
<head>
	<title>ThinFrame</title>
	<link rel="stylesheet" type="text/css" href="/DemoApplication/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/DemoApplication/css/thinframe.css" />
    <link rel="shortcut icon" href="/DemoApplication/images/favicon.ico" />
</head>
<body>
	<header>
        <h1>404 - Not found</h1>
	</header>
    <section id="mainContent">
            <h2>The page you are looking for cannot be found</h2>
    </section>
</body>
</html>