<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Not found</title>
    <link href='//fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
        * {
            background-color: #1eb999;
            font-family: 'PT Sans', sans-serif;
        }

        header h1 {
            color: #f5f5f5;
            text-align: center;
            margin-top: 50px;
        }

        section h2 {
            text-align: center;
            color: #038976;
        }

        section table {
            color: #f5f5f5;
            font-size: 18px;
            margin: 0px auto;
        }

        section table tr td:nth-child(1) {
            font-weight: bold;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>404</h1>
</header>
<section>
    <h2>The page you are looking for cannot be found</h2>
</section>
</body>
</html>